<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>GiggleDrop</title>
  </head>
  <body>
    <section class="drop">
      <h1 class="brand">GiggleDrop</h1>
      <div class="center">
        <div class="main-container">
          <div class="drop-zone">
            <div class="icon-container">
              <img
                class="left-img"
                src="../images/file.svg"
                width="70px"
                alt=""
              />
              <img
                class="center-img"
                src="../images/file.svg"
                width="70px"
                alt=""
              />
              <img
                class="right-img"
                src="../images/file.svg"
                width="70px"
                alt=""
              />
            </div>
            <h2>
              Drag and drop or <span class="browse-span"> browse </span> a file.
            </h2>
            <input type="file" name="file" id="file-input" />
          </div>
          <div class="progress-zone">
            <div class="progress-bar">
              <h2 class="progress-indicator">0%</h2>
            </div>
          </div>
            <h2 class="link-expiry-warning" style="margin-top: 1.3rem; color:rgb(255, 111, 0)">Download Link Expires in 24 hrs ‼️ 😏</h2>
            <div class="container">
              <div class="downloadLink-zone">
                 <input class="downloadLink-input" type="text" name="downloadLink" id="downloadLink" readonly>
              </div>
              <h2 class="copy-icon"><i class="fa-solid fa-copy" id="copyIcon"></i></h2>
            </div>
        </div> 
        <h1 class="signature">Crafted With ❤️ by Ajay Yadav</h1>
      </div>
    </section>
    <script src="../js/index.js"></script>
  </body>
</html>
